@using Services.Models;
@using Services.Enums;
@using Flashcards.Code;
@{
    var messages = TempData["Messages"];
    List<PopupMessageViewModel> messageList = null;
    if (messages != null)
    {
        messageList = messages as List<PopupMessageViewModel>;
    }
    else
    {
        messageList = new List<PopupMessageViewModel>();
    }

    var langs = Globals.GenerateLanguageSelectList();
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Training", "Training", "Training")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        @using (Html.BeginForm("ChangeLanguage", "Language", FormMethod.Post, new { id = "languageChangeForm" }))
                        {
                            @Html.DropDownList("currentLanguageID", langs)
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="warningMessages">
        @foreach (var message in messageList)
        {
            <div class="popupMessage @message.MessageType.GetMessageClass()">
                <div class="close"><i class="fa fa-close"></i></div>
                <div class="message">
                    @Html.Raw(message.Content)
                </div>
            </div>
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/scalaDependencies")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/scala")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        InitFlashcard("@ViewBag.Module");
    </script>
</body>
</html>
